/* Main Site */
body {
  margin: 0;
  background-color: #e0e7e7;
  font-family: TimesNewRoman, Helvetica, sans-serif;
}

.row-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 3em;
}

.header {
  padding-left: 3em;
  text-align: center;
  background: #e0e7e7;
  flex: 20%;
}

.navbar {
  padding-top: 3em;
  text-align: center;
  background-color: #e0e7e7;
  flex: 80%;
}

.navbar a {
  color: black;
  text-decoration: none;
  padding: 0 .7em 0 .7em;
}

.navbar button {
    margin: .35em;
    padding: .3em;
    font-size: 20px;
    background: white;
    border-radius: .4em;
    border: 2px solid;
    outline: none;
  }

.navbar button:hover {
  background-color: #e0e7e7
}

* {
  box-sizing: border-box;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 0 .1em 0 .1em;
  margin: 0;
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 2em;
  margin: 2em;
  font-size: 20px;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 10em;
  box-shadow: 0 .8em 1.6em 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 1.2em 1.4em;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #e0e7e7;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #e0e7e7;
}

.row {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.side {
  flex: 50%;
  background-color: #e0e7e7;
  text-align: center;
}

.side a {
  text-decoration: none;
  color: #083b66;
}

.side img {
  width: 100%;
  height: 100%;
}

.main {
  flex: 50%;
  background-color: #e0e7e7;
  padding-left: 2%;
  height: auto;
}

.main h1 {
  color: #083b66;
  text-align: left;
  font-size: 60px;
}

.main-2 {
  clear: both;
  padding: 2em 3em 3em 3em;
  width: 100%;
  background-color: #083b66;
  text-align: left;
  color: white;
}

.main-2 h1 {
  font-size: 60px;
}

.main-2 p {
  font-size: 30px;
}

.main-2 a {
  color: white;
}

.main-3 {
  clear: both;
  text-align:center;
  width:90%;
  max-width:50rem;
  margin:1rem auto;
  background-color: #e0e7e7;
  color: black;
  padding: 1em 0 2em 0;
}

.main-3 h1 {
  font-size: 60px;
  color: #083b66;
}

.main-3 p {
  font-size: 15px;
}

.main-3 a {
  color: black;
}

.main-4 {
  clear: both;
  text-align: center;
  width: 100%;
  padding: 1.5em 0 3em 0;
  background-color: #083b66;
  color: white;
}

.main-4 h2 {
  font-size: 60px;
}

.main-4 h3 {
  font-size: 45px;
}

.main-4 a {
  color: white;
}

.main-5 {
  clear: both;
  flex: 70%;
  background-color: #083b66;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

.main-6 {
  clear: both;
  flex: 70%;
  background-color: #e0e7e7;
  color: #083b66;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

.col-container {
    display: flex;
    width: 100%;
}

.col-container h3 {
  text-align: center;
}

.column-1 {
  float: left;
  background-color: #083b66;
  padding: 0% 5% 1% 5%;
  color: white;
  width: 33.33%;
  width: calc(100% / 3);
}

.column-1 a {
  color: white;
}

.column-2 {
  float: left;
  background-color: #e0e7e7;
  padding: 0% 5% 1% 5%;
  color: #083b66;
  width: 33.33%;
  width: calc(100% / 3);
}

.column-2 a {
  color: #083b66;
}

.card h3 {
  font-size: 40px;
}

.card h5 {
  font-size: 15px;
}

.footer {
  clear: both;
  padding: 1% 0 1% 0;
  text-align: center;
  font-size: 15px;
  color: black;
  background: #e0e7e7;
  border-top: 1px solid;
  border-top-color: #083b66;
}

.footer a {
  color: black;
}

/* Blog Posts */
/* Also used for tags page*/
.blog-body {
  background-color: #e0e7e7;
  font-family: TimesNewRoman, Helvetica, sans-serif;
}

.blog-body a {
  color: black;
}

.navbar-blog a {
  margin: auto;
  color:black;
  padding: 10px;
  text-decoration: none;
}

.homebtn {
  font-size:20px;
  border-radius:4px;
  margin: 1% 0 0 1%;
}

.blog-wrapper {
  text-align:center;
  width:80%;
  max-width:50rem;
  margin:1rem auto;
}

.blog-header {
  padding: 1% 0 1% 0;
  border-bottom: 1px solid;
  border-width: 80%;
  border-top-color: black;
}

.blog-header p {
  text-align: left;
}

.blog-main {
  text-align:left;
  padding: 1% 0 1% 0
}

.blog-footer {
  padding: 1% 0 1% 0;
  border-top: 1px solid;
  border-width: 80%;
  border-top-color: black;
}
