body {
    margin: 0;
}

.header {
  padding: 20px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

.header h1 {
  font-size: 40px;
}

.side {
  text-align: center;
}
.side a {
  color: black;
}

.side button {
  margin: 5px;
}

a {
  color: white;
}

h3 {
  text-align: center;
}

.navbar {
  padding: 20px;
  text-align: center;
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.navbar p {
  text-align: center;
  color: white;
}

.navbar button {
    margin-left: 30px;
    padding: 5px;
    font-size: 20px;
    background: white;
    border-radius: 8px;
    border: 2px solid #1abc9c;
    outline: none;
  }

.navbar button:hover {background-color: #1abc9c}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 10%;
  background-color: #f1f1f1;
  padding: 20px;
}

.main {
  flex: 70%;
  background-color: #5D6165;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

.main-2 {
  clear: both;
  flex: 70%;
  background-color: #1abc9c;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

.main-post {
  background-color: #5D6165;
  min-height: 100vh;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

.col-container {
    display: flex;
    width: 100%;
}

.column-1 {
  float: left;
  background-color: #5D6165;
  color: white;
  width: 33.33%;
  width: calc(100% / 3);
}

.column-2 {
  float: left;
  background-color: #1abc9c;
  color: white;
  width: 33.33%;
  width: calc(100% / 3);
}

ul#recent-list li{
  margin-bottom: 20px;
  margin-left: 30px;
  list-style: none;
  text-align: left
}

.col-container ol{
  margin-left: 50px;
  line-height: 25px;
}

.footer {
  clear: both;
  padding: 20px;
  text-align: center;
  background: #ddd;
}

.footer a {
  color: black;
}
