/* Main Site */
body {
    margin: 0;
    background-color: #e0e7e7;
}

.row-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.header {
  padding-left: 4%;
  text-align: left;
  background: #e0e7e7;
  width: 20%;
}

.navbar {
  padding-top: 3%;
  text-align: right;
  padding-right: 10%;
  background-color: #e0e7e7;
  width: 80%;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.navbar button {
    margin: 1%;
    padding: 5px;
    font-size: 20px;
    background: white;
    border-radius: 8px;
    border: 2px solid;
    outline: none;
  }

.navbar button:hover {
  background-color: #e0e7e7
}

* {
  box-sizing: border-box;
}

.dropbtn {
  background-color: white;
  color: black;
  margin: 1%;
  padding: 5px;
  font-size: 20px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #e0e7e7;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #e0e7e7;
}

.row {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.side {
  flex: 50%;
  background-color: #e0e7e7;
  text-align: center;
}

.side a {
  text-decoration: none;
  color: #083b66;
}

.side img {
  width: 100%;
  height: 100%;
}

.main {
  flex: 50%;
  background-color: #e0e7e7;
  padding-left: 5%;
  height: auto;
}

.main h1 {
  color: #083b66;
  text-align: left;
  font: 60px Verdana, Helvetica, sans-serif;
  font-size-adjust: 0.9;
}

.main-2 {
  clear: both;
  padding: 2% 2% 2% 5%;
  width: 100%;
  background-color: #083b66;
  text-align: left;
  color: white;
}

.main-2 h1 {
  font: 60px Verdana, Helvetica, sans-serif;
  font-size-adjust: 0.9;
}

.main-2 p {
  font: 30px Verdana, Helvetica, sans-serif;
  font-size-adjust: 0.9;
}

.main-2 a {
  color: white;
}

.main-3 {
  clear: both;
  text-align:center;
  width:90%;
  max-width:50rem;
  margin:1rem auto;
  background-color: #e0e7e7;
  color: black;
  padding-bottom: 1%;
}

.main-3 h1 {
  font: 60px Verdana, Helvetica, sans-serif;
  font-size-adjust: 0.9;
  color: #083b66;
}

.main-3 p {
  font: 15px Verdana, Helvetica, sans-serif;
  font-size-adjust: 0.9:
}

.main-3 a {
  color: black;
}

.main-4 {
  clear: both;
  text-align: center;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 2%;
  background-color: #083b66;
  color: white;
  font: 15px Verdana, Helvetica, sans-serif;
  font-size-adjust: 0.9:
}

.main-4 h2 {
  font: 60px Verdana, Helvetica, sans-serif;
  font-size-adjust: 0.9;
  color: #e0e7e7;
}

.main-4 a {
  color: white;
}

.main-5 {
  clear: both;
  flex: 70%;
  background-color: #083b66;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

.main-6 {
  clear: both;
  flex: 70%;
  background-color: #e0e7e7;
  color: #083b66;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

.col-container {
    display: flex;
    width: 100%;
}

.col-container h3 {
  text-align: center;
}

.column-1 {
  float: left;
  background-color: #083b66;
  padding: 0% 5% 1% 5%;
  color: white;
  width: 33.33%;
  width: calc(100% / 3);
}

.column-1 a {
  color: white;
}

.column-2 {
  float: left;
  background-color: #e0e7e7;
  padding: 0% 5% 1% 5%;
  color: #083b66;
  width: 33.33%;
  width: calc(100% / 3);
}

.column-2 a {
  color: #083b66;
}

.footer {
  clear: both;
  padding: 1% 0 1% 0;
  text-align: center;
  color: black;
  background: #e0e7e7;
  border-top: 1px solid;
  border-top-color: #083b66;
}

.footer a {
  color: black;
}

/* Blog Posts */
/* Also used for tags page*/
.blog-tags {
  background-color: #F8ECC2;
}

.navbar-blog-tags a {
  margin: auto;
  color:black;
  padding: 10px;
  text-decoration:none;
}

.homebtn {
  font-size:20px;
  border-radius:4px;
  margin: 1% 0 0 1%;
}
